extends layout
block content
 ul.wrap
   button(type="submit")
    a(href="/chancefate/1")
      img(src="/images/chance.png" alt="chance" )
   button(type="submit")
    a(href="/chancefate/0")
      img(src="/images/fate.png"  alt="fate")
    