extends layout
block content
    ul.wrap
       font(size='7')
        a(href="/nearby"  title="linknearby") 附近幫
       br
       font(size='7')
        a(href="/classify"  title="linkclassify") 分類幫
       