doctype html
html
  head
<<<<<<< HEAD
    block head
=======
    block headcontent
>>>>>>> user_login
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
