extends layout
block content
  ul.wrap
    font(size='7') 註冊會員
    br
    br
    br
    br
    br
    form(method="post")
      big
        p 姓名:
        input(type='text' name='username') 
      big
        p 性別:
        input(type='radio' value='男人' name='sex')
        label 男人
        input(type='radio' value='女人' name='sex') 
        label 女人
      big
        p ID:
        input(type='text' name='ID') 
      big
        p password:
        input(type='password' name='password')       
      br
      br
      br
      button(type="submit") 註冊