extends layout
<<<<<<< HEAD
=======
block headcontent
    script(type="text/javascript").
      if (10 == 10) {
        confirm("working");
      }
>>>>>>> user_login
block content
    ul.wrap
       a(href="/userdata"  title="title").class 回使用者介面
